$base-font-size: 16px;

// Colors
$primary-color: #3d5a80;
$primary-scnd-color: #98c1d9;
$secondary-color: #6c757d;
$background-color: #FFFDFA;
$page-color: #FFFDFA;
$card-color: #8ecae6;

// Font sizes
$small-font-size: 0.875rem; 
$medium-font-size: 1rem; 
$large-font-size: 1.25rem; 
$massive-font-size: 5rem;

// Spacing
$padding-small: 0.5rem; 
$padding-medium: 1rem; 
$padding-large: 1.5rem; 

$navbar-dimension: 4rem;
$card-padding: $padding-large;
$card-border: 2px solid $secondary-color;
$card-border-radius: 1rem;
$card-width: 30rem;
$card-height: 15rem;
$card-button-size: 2rem;

$home-page-sizing: 94.5%;

