$base-font-size: 16px;

// Colors
$primary-color: #007bff;
$primary-scnd-color: #2991ff;
$secondary-color: #6c757d;

// Font sizes
$small-font-size: 0.875rem; 
$medium-font-size: 1rem; 
$large-font-size: 1.25rem; 
$massive-font-size: 5rem;

// Spacing
$padding-small: 0.5rem; 
$padding-medium: 1rem; 
$padding-large: 1.5rem; 

$navbar-dimension: 4rem;
$card-padding: $padding-large;
$card-border: 2px solid $secondary-color;
$card-border-radius: 1rem;
$card-width: 30rem;
$card-height: 15rem;
$card-button-size: 2rem;

