<div class="card" *ngFor="let country of countries" [ngClass]="{'card-weather': callingComponent === 'weather'}">
    <div class="card-img-container">
      <img [src]="country.flag" alt="Country Flag" class="card-img">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{country.code}} - {{ country.name }}</h5>
      <p class="card-text">Capital: {{ country.capital }}</p>
      <button (click)="onAddToFavourites(country.code)" class="card-button card-addfav" *ngIf="!isFavourite(country.code)">
      </button>
      <button (click)="onRemoveFromFavourites(country.code)" class="card-button card-remfav" *ngIf="isFavourite(country.code)"></button>
      <button (click)="redirectToWeatherPage(country.code)" class="weather-btn" *ngIf="!isWeather()">Weather forecast</button>
    </div>
</div>