.innernav{
    height: 5rem;
    display: flex;
    justify-content: center;
    padding: $padding-large 0;
    background-color: $primary-scnd-color ;

    button{
        width: 15rem;
        background-color: $primary-color;
        border: none;
        color: white;
        border-radius: 1rem;
    }
}