.home{
    height: $home-page-sizing;
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 0;
    align-items: center;
    justify-content: center;
    background-color: $primary-scnd-color;
    color: $background-color;
    button{
        width: 10rem;
        height: 3rem;
        @include body-remove-whitespace;
        border: 2px solid $background-color;
        border-radius: 2rem;
        background-color: $primary-color;
    }
    h1{
        font-size: $massive-font-size;
        margin: 0 auto;
        @include body-remove-whitespace;
    }

}